* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
    top: 0;
    background: #111827;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #38bdf8;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navbar nav a:hover {
    color: #38bdf8;
}

.hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 60px;
}

.hero h1 span {
    color: #38bdf8;
}

.hero h2 {
    margin-top: 20px;
    font-size: 28px;
}

.hero p {
    margin-top: 15px;
    font-size: 20px;
    color: #cbd5e1;
}

.hero-buttons {
    margin-top: 30px;
}

.btn {
    background: #38bdf8;
    color: black;
    padding: 14px 24px;
    text-decoration: none;
    border-radius: 8px;
    margin-right: 15px;
    font-weight: bold;
}

.btn.secondary {
    background: transparent;
    border: 2px solid #38bdf8;
    color: white;
}

.section {
    padding: 80px 10%;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    color: #38bdf8;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
}

.card p {
    margin-bottom: 20px;
}

.skills-grid,
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.skill-card,
.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.timeline-item {
    background: #1e293b;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.timeline-item h3 {
    color: #38bdf8;
}

.timeline-item span {
    color: #94a3b8;
}

.contact-card {
    text-align: center;
}

.contact-card p {
    margin-bottom: 20px;
}

.social-links a {
    color: #38bdf8;
    font-size: 30px;
    margin: 0 15px;
}

footer {
    background: #111827;
    padding: 20px;
    text-align: center;
    color: #94a3b8;
}

@media(max-width: 768px) {

    .hero h1 {
        font-size: 40px;
    }

    .hero h2 {
        font-size: 22px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar nav {
        margin-top: 10px;
    }
}